/*
Copyright 2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.container {
  display: flex;
  flex-direction: column;

  label {
    font: var(--cpd-font-body-md-medium);
    margin-block-end: var(--cpd-space-1x);
  }

  /**
   * When the dropdown is open, rotate the arrow icon
   */
  button[aria-expanded="true"] {
    .chevron {
      transform: rotate(180deg);
    }
  }

  .content {
    position: relative;

    ul {
      /**
       * Hidden by default, this gets overridden to show the menu when it's open.
       */
      display: none;

      /**
       * To make the component going over the other elements
       */
      position: absolute;
      block-size: fit-content;
      inline-size: 100%;
      background: var(--cpd-color-bg-canvas-default);
      border: 1px solid var(--cpd-color-border-interactive-secondary);
      border-radius: var(--cpd-space-4x);
      box-sizing: border-box;
      box-shadow: 0 4px 24px 0 rgb(27 29 34 / 10%);
      margin: 0;
      padding: 0;
      padding-block-end: var(--cpd-space-4x);
      cursor: pointer;
      overflow: hidden;

      li {
        list-style-type: "";
        font: var(--cpd-font-body-md-medium);
        padding: var(--cpd-space-3x) var(--cpd-space-4x);
        border-block-end: 1px solid var(--cpd-color-gray-300);
        color: var(--cpd-color-text-secondary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--cpd-space-4x);

        @media (hover) {
          &:hover {
            background: var(--cpd-color-gray-200);
          }
        }

        &[aria-selected="true"] {
          color: var(--cpd-color-text-primary);
          background: var(--cpd-color-gray-300);
        }
      }
    }

    .trigger-button {
      /*
       * Needs to be not position: static so it appears above the menu (from being after it in the DOM).
       */
      position: relative;
      inline-size: 100%;
      border: 1px solid var(--cpd-color-border-interactive-primary);
      background: var(--cpd-color-bg-canvas-default);
      border-radius: 0.5rem;
      padding: var(--cpd-space-3x) var(--cpd-space-3x) var(--cpd-space-3x)
        var(--cpd-space-4x);
      box-sizing: border-box;
      color: var(--cpd-color-text-primary);
      font: var(--cpd-font-body-md-regular);
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--cpd-space-4x);

      .chevron {
        @media (prefers-reduced-motion: no-preference) {
          transition: transform 0.1s linear;
        }
      }

      &.placeholder {
        color: var(--cpd-color-text-secondary);
      }
    }
  }

  .open {
    ul {
      display: block;

      /*
       * In non-seamless mode, shunt it down to float just below the trigger.
       */
      inset-block-start: calc(100% + var(--cpd-space-2x));
    }
  }

  /*
   * When we use the standard dropdown trigger component, adjust the menu so it appears to
   * extend out from under the trigger. Otherwise it should float just below with rounded
   * corners.
   */
  .seamless {
    ul {
      border-start-start-radius: 0;
      border-start-end-radius: 0;

      li {
        &:first-child {
          /*
           * ...and make the first item taller at the top to compensate
           * (it's normally 3x so make it 5x)
           */
          padding-block-start: var(--cpd-space-5x);
        }
      }
    }

    &.open {
      ul {
        /*
         * Shunt it upwards a bit (plus one pixel to match how it was before)
         */
        inset-block-start: calc(100% - var(--cpd-space-2x) - 1px);
      }
    }
  }

  .help {
    font: var(--cpd-font-body-sm-regular);
    color: var(--cpd-color-text-secondary);
  }

  .error {
    font: var(--cpd-font-body-sm-medium);
    color: var(--cpd-color-text-critical-primary);
    display: flex;
    gap: var(--cpd-space-2x);
  }

  .error,
  .help {
    margin-block-start: var(--cpd-space-2x);
  }

  &[aria-invalid="true"] {
    label {
      color: var(--cpd-color-text-critical-primary);
    }

    button.trigger-button {
      border-color: var(--cpd-color-text-critical-primary);
    }
  }
}
