/*
Copyright 2023 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.link {
  display: inline-block;
  text-decoration: underline;
  color: var(--cpd-color-text-primary);
  font-weight: var(--cpd-font-weight-medium);
  border-radius: var(--cpd-radius-pill-effect);
  padding-inline: 0.25rem;
  cursor: pointer;
  transition-property: color, background-color;
  /* Fade out :active background slowly */
  transition-duration: 0.15s;
}

.link[data-kind="primary"] {
  color: var(--cpd-color-text-primary);
}

.link[data-kind="critical"] {
  color: var(--cpd-color-text-critical-primary);
}

.link:active {
  /* Fade in :active background quickly */
  transition-duration: 0.05s;
}

.link[data-kind="primary"]:active {
  background: var(--cpd-color-bg-subtle-primary);
}

.link[data-kind="critical"]:active {
  background: var(--cpd-color-bg-critical-subtle-hovered);
}

.link[data-size="md"] {
  font-size: var(--cpd-font-size-body-md);
}

.link[data-size="sm"] {
  font-size: var(--cpd-font-size-body-sm);
}
