name: Static Analysis
on:
  pull_request: {}
  push:
    branches: [develop, main]
jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: "yarn"
      - name: Install deps
        run: yarn
      - name: Lint
        run: "yarn run lint"
  test:
    name: "Test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: "yarn"
      - name: Install deps
        run: yarn
      - name: Test
        run: "yarn run test --coverage"
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: |
            coverage
            !coverage/lcov-report
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
        with:
          args: >
            -X
