/*
Copyright 2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.content {
  display: inline-flex;
  background-color: var(--cpd-color-bg-subtle-secondary);
  padding: var(--cpd-space-4x);
  border-radius: var(--cpd-space-2x);
  color: var(--cpd-color-icon-secondary);

  > svg {
    inline-size: 32px;
    block-size: 32px;
  }
}

.content[data-size="medium"] {
  padding: var(--cpd-space-3x);
}

.content[data-size="small"] {
  padding: var(--cpd-space-3x);

  > svg {
    inline-size: 24px;
    block-size: 24px;
  }
}

.destructive {
  background-color: var(--cpd-color-bg-critical-subtle);
  color: var(--cpd-color-icon-critical-primary);
}

.success {
  background-color: var(--cpd-color-bg-success-subtle);
  color: var(--cpd-color-icon-success-primary);
}
